<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--/*@thymesVar id="appName" type="String"*/-->
        <a class="navbar-brand" href="/dashboard" th:text="${appName}"></a>
    </div>
    <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right" id="top-nabar-connexion">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user dropdown-content">
                    <li><a th:href="@{/profile}">[[${#httpServletRequest.remoteUser}]]</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="/login"><i class="fa fa-gear fa-fw"></i> Login</a></li>
                    <li sec:authorize="isAuthenticated()"><a>
                        <form th:action="@{/logout}" method="post">
                            <input class="navbar-btn navbar-link" type="submit" value="Logout" />
                        </form>
                    </a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/tables"><i class="fa fa-table fa-fw"></i> Books</a>
                </li>
                </li>
                <li>
                    <a th:href="@{/loans}"><i class="fa fa-tasks fa-fw"></i> My Loans</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>