<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--/*@thymesVar id="appName" type="String"*/-->
    <title th:text="${'Books - ' + appName}"></title>
</head>
<header lang="en" th:replace="fragments/header :: header">
</header>
<body>
    <div id="wrapper">
        <nav lang="en" th:replace="fragments/nav :: nav">
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Books </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Library of Liverpool
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Language</th>
                                        <th>Number of copies</th>
                                        <th>Borrow</th>
                                        <th>Number of current reservations</th>
                                        <th>Number of maximum reservations possible</th>
                                        <th>Expected return date of next book</th>
                                        <th>Make a reservation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="book" type="library.io.github.walterwhites.Book"*/-->
                                <!--/*@thymesVar id="bookNames" type="java.util.List<java.lang.String>"*/-->
                                <!--/*@thymesVar id="connected" type="java.lang.Boolean"*/-->
                                    <tr class="odd gradeX"
                                        th:each="book, iStat : ${books.getBook()}"
                                        th:alt-title="${iStat.even}? 'even' : 'odd'">
                                        <td th:text="${book.getTitle()}"></td>
                                        <td th:text="${book.getAuthor()}"></td>
                                        <td th:text="${book.getLanguages()}"></td>
                                        <td th:text="${book.getNumber()}"></td>
                                        <div>
                                            <div th:if="${connected == null}">
                                                <th>
                                                    <button class="btn btn-danger" type="submit" disabled>You should be connected
                                                        to borrow a book</button>
                                                </th>
                                            </div>
                                            <div th:unless="${connected == null}">
                                                <div th:if="${bookNames != null and #lists.contains(bookNames, book.title)}">
                                                    <th>
                                                        <button class="btn btn-default" type="submit" disabled>Already taken</button>
                                                    </th>
                                                </div>
                                                <div th:unless="${bookNames != null and #lists.contains(bookNames, book.title)}">
                                                    <th th:if="${book.getNumber() == 0}">
                                                        <div th:if="${book.getNbReservations() == book.getMaxNumber()}">
                                                            <button class="btn btn-default" type="submit" disabled>Not available</button>
                                                        </div>
                                                        <div th:unless="${book.getNbReservations() == book.getMaxNumber()}">
                                                            <button class="btn btn-default" type="submit" disabled>Available for reservation</button>
                                                        </div>
                                                    </th>
                                                    <th th:unless="${book.getNumber() == 0}">
                                                        <form th:action="@{/reserved-book}" method="post">
                                                            <input type="hidden" name="id" th:value="${book.getId()}" />
                                                            <input type="hidden" name="title" th:value="${book.getTitle()}" />
                                                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                                            <button class="btn btn-success" type="submit">Borrow this book</button>
                                                        </form>
                                                    </th>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:if="${book.getNumber() == 0 and bookNames != null and !#lists.contains(bookNames, book.title)
                                           and book.getNbReservations() == book.getMaxNumber()}">
                                            <td th:text="${book.getNbReservations()}"></td>
                                            <td th:text="${book.getMaxNumber()}"></td>
                                            <div th:if="${book.getLastReservationEndDate() != null}">
                                                <td th:text="|${book.getLastReservationEndDate().getDay()}/${book.getLastReservationEndDate().getMonth()}/${book.getLastReservationEndDate().getYear()} ${book.getLastReservationEndDate().getHour()}:${book.getLastReservationEndDate().getMinute()}|"></td>
                                            </div>
                                            <div th:unless="${book.getLastReservationEndDate() != null}">
                                                <td></td>
                                            </div>
                                        </div>
                                        <div th:unless="${book.getNumber() == 0 and bookNames != null and !#lists.contains(bookNames, book.title)
                                           and book.getNbReservations() == book.getMaxNumber()}">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </div>
                                        <div th:if="${book.getNumber() == 0 and bookNames != null and !#lists.contains(bookNames, book.title)
                                           and book.getNbReservations() < book.getMaxNumber()}">
                                            <td>
                                                <form th:action="@{/make-reservation}" method="post">
                                                    <input type="hidden" name="id" th:value="${book.getId()}" />
                                                    <input type="hidden" name="title" th:value="${book.getTitle()}" />
                                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                                    <button class="btn btn-success" type="submit">Make a reservation on this book</button>
                                                </form>
                                            </td>
                                        </div>
                                        <div th:unless="${book.getNumber() == 0 and bookNames != null and !#lists.contains(bookNames, book.title)
                                           and book.getNbReservations() < book.getMaxNumber()}">
                                            <td></td>
                                        </div>
                                    </tr>
                                    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
<footer lang="en" th:replace="fragments/footer :: footer"> </footer>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
</html>
